<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
  
<style>
.form-horizontal{
	margin-top: 2%;
}
</style>
<body>
<div class="row">
<!-- 			<button id="btn-adduser" type="button" class="btn btn-info" onClick="window.open('FormAddUser.html','','width=768,height=650'); return false;">Add User</button> -->
			<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add User</button>
		</div>
  <div class="modal fade" id="myModal" role="dialog">
	<div class="modal-body">
		<form class="form-horizontal">
			<div class="form-group">
			   	<label class="col-sm-3 control-label" id="inputname">ชื่อผู้ใช้งาน</label>
			    <div class="col-sm-6">
			  		<input class="form-control input-sm" id="input-name" placeholder="กรอกชื่อผู้ใช้งาน">
				</div>
			</div>
			<div class="form-group">
			   	<label class="col-sm-3 control-label" id="inputpass">รหัสผ่าน</label>
			    <div class="col-sm-6">
			   		<input class="form-control input-sm" id="input-pass" placeholder="กรอกรหัสผ่าน">
				</div>
			</div>
			<div class="form-group">
			   	<label class="col-sm-3 control-label" id="inputconpass">ยืนยันรหัสผ่าน</label>
			   	<div class="col-sm-6">
			   		<input class="form-control input-sm" id="input-conpass" placeholder="ยืนยันรหัสผ่าน">
				</div>
			</div>
		<div class="horizonline"></div>
			<div class="form-group">
				<label class="col-sm-3 control-label" id="inputinit">คำนำหน้า</label>
			  	<div class="col-sm-6">
			  		<select class="form-control input-sm">
						  <option>นาย</option>
						  <option>นาง</option>
						  <option>นางสาว</option>
					</select>
			  	</div>
		  	</div>
		  	<div class="form-group">
		    	<label class="col-sm-3 control-label" id="inputfname">ชื่อ</label>
		    	<div class="col-sm-6">
		   	   		<input class="form-control input-sm" id="input-fname" placeholder="กรอกชื่อ">
		  		</div>
		  	</div>
			<div class="form-group">
			   	<label class="col-sm-3 control-label" id="inputlname">นามสกุล</label>
			   	<div class="col-sm-6">
			   		<input class="form-control input-sm" id="input-lname" placeholder="นามสกุล">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" id="inputlname">นามสกุล</label>
			   	<div class="col-sm-6">
			   		<input class="form-control input-sm" id="input-lname" placeholder="นามสกุล">
				</div>
			</div>
			<div class="form-group">
			   	<label for="inputemail" class="col-sm-3 control-label">อีเมลล์</label>
			   	<div class="col-sm-6">
			   		<input type="email" class="form-control input-sm" id="input-email" placeholder="อีเมลล์">
			   	</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" id="inputprovince">จังหวัด</label>
			  	<div class="col-sm-6">
			  		<select class="form-control input-sm">
			      	  <option>กรุงเทพมหานคร</option>
					  <option>กาฬสิน</option>
					  <option>ขอนแก่น</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" id="inputrole">Role</label>
			  	<div class="col-sm-6">
			  		<select class="form-control input-sm">
					  <option>Role1</option>
					  <option>Role2</option>
					  <option>Role3</option>
					</select>
			  	</div>
			</div>
			<div class="form-group">
			   	<label class="col-sm-3 control-label" id="inputpos">หน่วยงานที่สังกัด</label>
			   	<div class="col-sm-6">
			   		<input class="form-control input-sm" id="input-pos" placeholder="หน่วยงานที่สังกัด">
				</div>
			</div>
			<div class="form-group">
			   	<label class="col-sm-3 control-label" id="inputpos1">ตำแหน่ง</label>
			   	<div class="col-sm-6">
			   		<input class="form-control input-sm" id="input-pos1" placeholder="ตำแหน่ง">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" id="inputpos1">สถานะ</label>
				<div class="col-sm-6">
					<label class="radio-inline ">
			    		<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> เปิดใช้งาน
					</label>
					<label class="radio-inline">
					    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> ปิดใช้งาน
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<button type="Add" class="btn btn-default">Add</button>
					<button type="Cancel" class="btn btn-info">Cancel</button>
				</div> 
			</div>
		</form>
	</div>
  </div>
</body>
</html>