<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
<style>
.contrainer{
	overflow-x:auto;
}
.editlink{
	margin-right:5px;
}
</style>


	<div class="container">
		<div class="row" style="margin-bottom:5px;">
				<div class="form-inline" style="float:right;">
					<div class="form-group">
				        <div class="col-sm-12">
					        <select class="form-control" id="select_cate_link" style="margin-right:5px;"></select>  
					        <button id="btn-addlink" type="button" class="btn btn-info" data-toggle="modal" data-target="#FormAddLinks">Add Link</button>        
				        </div>
					</div>
				</div>
		</div>		
		<div id="TableLink"></div>
	</div>
	
	<div id="FormAddLinks" class="modal fade" aria-hidden="true">
		<div class="modal-dialog role="document">
			<div class="modal-content">
			
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
	        		</button>
	        		<h5 class="modal-title">Add Link</h5>
	     		</div>
	      
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-4 control-label">Link Name</label>
				    		<div class="col-sm-8">
				  				<input class="form-control input-sm" id="input-linkname" placeholder="กรอกชื่อลิ้ง">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">
								<input checked="checked" name="radio" id="radio" value="1" type="radio">
								Link URL</label>
				    		<div class="col-sm-8">
				  				<input class="form-control input-sm" id="input-linkurl" placeholder="กรอกชื่อลิ้ง">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">
								<input name="radio" id="radio" value="2" type="radio">
								Link Custom</label>
				    		<div class="col-sm-8">
		
							</div>
						</div>
						<div class="form-group">
							<div class="group-button" style="float:right; margin-right:15px;">
								<input type='hidden' value='add' id='action' name='action'>
								<input type='hidden' value='' id='link_id' name='link_id'>
								<button id="btn-insertlink" type="button" class="btn btn-info">Add</button>
								<button id="btn-cancelna" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							</div>
						</div>
	      			</form>
	      		</div>
	    	</div>
	  	</div>
	</div>