<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html;" charset="UTF-8" />
<title>Login</title>
	<link rel="stylesheet" href="../Css/main.css">
	<link rel="stylesheet" href="../library/bootstrap/css/bootstrap.min.css">
<!-- 	<link href="../../resources/bootsrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" /> -->
<!-- 	<script src="../../resources/bootsrap/js/bootstrap.min.js"></script> -->
</head>
<style>

</style>
<body>

<div class="container">
	<div class="top-content row" id="top-cont">
		Login
	</div>
	<form>
	  <div class="form-group">
	    <label for="exampleInputEmail1">รหัสบัตรประชาชน</label>
	    <input type="cityzen" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="กรอกรหัสบัตรประชาชน">
	    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>  -->
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">รหัสผ่าน</label>
	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="กรอกรหัสผ่าน">
	  </div>
	  <div class="form-group">
	    <label for="exampleTextarea">เหตุผลที่ใช้งาน</label>
	    <textarea class="form-control" id="exampleTextarea" rows="5"></textarea>
	  </div>
	  
	  <button type="Ok" class="btn btn-default">OK</button>
	  <button type="Cancel" class="btn btn-primary">Cancel</button>
	</form>	
</div>


</body>
</html>