<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html;" charset="UTF-8" />
<title>Register</title>
	<link rel="stylesheet" href="../Css/main.css">
	<link rel="stylesheet" href="../library/bootstrap/css/bootstrap.min.css">
	<script src="../library/bootstrap/js/bootstrap.min.js"></script>
</head>
<style>

</style>
<body>


<div class="container">
	<div class="top-content row" id="top-cont">
		Register
	</div>
	<form>
	  <div class="form-group">
	    <label for="exampleInputEmail1">รหัสบัตรประชาชน</label>
	    <input type="cityzen" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="กรอกรหัสบัตรประชาชน">
	    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>  -->
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">รหัสผ่าน</label>
	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="กรอกรหัสผ่าน">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">ยืนยันรหัสผ่าน</label>
	    <input type="repassword" class="form-control" id="exampleInputPassword1" placeholder="ยืนยันรหัสผ่าน">
	  </div>
	  <div class="form-group">
	    <label for="exampleSelect1">คำนำหน้า</label>
	    <select class="form-control" id="exampleSelect1">
	      <option>นาย</option>
	      <option>นาง</option>
	      <option>นางสาว</option>
	    </select>
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">ชื่อ</label>
	    <input type="fname" class="form-control" id="fname" placeholder="">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">นามสกุล</label>
	    <input type="lname" class="form-control" id="lname" placeholder="">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">อีเมลล์</label>
	    <input type="email" class="form-control" id="email" placeholder="">
	  </div>
	  <div class="form-group">
	    <label for="exampleSelect1">จังหวัด</label>
	    <select class="form-control" id="exampleSelect1">
	      <option>กรุงเทพมหานคร</option>
	      <option>นนทบุรี</option>
	      <option>สระแก้ว</option>
	    </select>
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">หน่วยงานที่สังกัด</label>
	    <input type="position" class="form-control" id="position" placeholder="">
	  </div>
	  <div class="form-group">
	    <label for="exampleTextarea">หมายเหตุ</label>
	    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	  </div>
	  
	  <button type="Add" class="btn btn-default">Add</button>
	  <button type="Cancel" class="btn btn-primary">Cancel</button>
	</form>	
</div>


</body>
</html>