<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	
	
	<link rel="stylesheet" href="../library/bootstrap/css/bootstrap.min.css">
	<script src="../library/jquery/jquery-1.12.4.js"></script>
	<script src="../library/jquery/jquery-1.12.4.min.js" type="text/javascript" language="javascript"></script>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<link href="../library/bootsrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
	<script src="../library/bootsrap/js/bootstrap.min.js"></script>
	<script src="../Controller/DWH.js"></script>
	<link rel="stylesheet" href="../Css/main.css">

<style>
h4{
	color:#37b6e5;
	font-weight:bold;
}
hr {
	margin-left: 15px;
	margin-right: 15px;
}
</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<h4>บริการข้อมูลสารสนเทศ (คลังข้อมูล)</h4>
			<hr>
		</div>
		<div class="row">
<!-- 			<div class="menu-button"> -->	
<!-- 				<a href="#" role="button"> -->
<!-- 				Link Button -->
<!-- 				<img src="image.png" height="49" width="62"></a> -->
<!-- 			</div> -->
			<a class="btn-ps" href="http://www.google.co.th" role="button">
				<img src="image.png" height="49" width="62">
			รายงานการให้บริการแพทย์ฉุกเฉิน (ITEMS)</a>
			
			<a class="btn-ps" href="#" role="button">
				<img src="image.png" height="49" width="62">
			ระบบออกรายงานด้วยตัวเอง (Saiku)</a>
			
			<a class="btn-ps" href="#" role="button">
				<img src="image.png" height="49" width="62">
			Back Office (Admin)</a>
		</div>
		
		<div class="row">
			<h4>ข้อมูลพื้นฐาน ที่ขึ้นทะเบียนในระบบแพทย์ฉุกเฉิน (ITEMS)</h4>
			<hr>
		</div>
		<!-- Test Click slide start -->
<!-- 		<div class="row"> -->
<!-- 			<div id="flip">Click to slide the panel down or up</div> -->
<!-- 			<div id="panel">Hello world!</div> -->
<!-- 		</div> -->
		<!-- Test Click slide end -->
		<div class="row">
			<div class="col col-lg-4 col-md-5 col-sm-12 col-xs-12">
				<button id="btn-dropdown" type="button" class="btn-ps">
					<img src="image.png" height="49" width="62">
					1.ข้อมูลหน่วยงานปฏิบัติการ</button>
				<div id="cssmenu" style="display:none;">
					<ul>
						<li><a href="#">Item 01</a></li>
						<li><a href="#">Item 02</a></li>
						<li><a href="#">Item 03</a></li>
					</ul>
				</div>
			</div>
			<div class="col col-md-4">
				<button id="btn-dropdown" type="button" class="btn-ps">
					<img src="image.png" height="49" width="62">
					1.ข้อมูลหน่วยงานปฏิบัติการ</button>
				<div id="cssmenu" style="display:none;">
					<ul>
						<li><a href="#">Item 01</a></li>
						<li><a href="#">Item 02</a></li>
						<li><a href="#">Item 03</a></li>
					</ul>
				</div>
			</div>
			<div class="col col-md-4">
				<button id="btn-dropdown" type="button" class="btn-ps">
					<img src="image.png" height="49" width="62">
					1.ข้อมูลหน่วยงานปฏิบัติการ</button>
				<div id="cssmenu" style="display:none;">
					<ul>
						<li><a href="#">Item 01</a></li>
						<li><a href="#">Item 02</a></li>
						<li><a href="#">Item 03</a></li>
					</ul>
				</div>
			</div>
			<div class="col col-md-4">
				<button id="btn-dropdown" type="button" class="btn-ps">
					<img src="image.png" height="49" width="62">
					1.ข้อมูลหน่วยงานปฏิบัติการ</button>
				<div id="cssmenu" style="display:none;">
					<ul>
						<li><a href="#">Item 01</a></li>
						<li><a href="#">Item 02</a></li>
						<li><a href="#">Item 03</a></li>
					</ul>
				</div>
			</div>
						
		</div>
	</div>
</body>
</html>