	
	<div class="container">
		<div class="row">
			<div class='col-md-4'>
		        <div class="form-group">
		            <div class='input-group date'>
		            	<input type="text" class="form-control" id="dpk1" name="dpk1" placeholder="From date" type="text"/>
                		<label for="dpk1" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span></label>
		            </div>
		        </div>
		    </div>
		    
		    <div class='col-md-4'>
		        <div class="form-group">
		            <div class='input-group date' >
		                <input type="text" class="form-control" id="dpk2" name="dpk2" placeholder="To date" type="text"/>
                		<label for="dpk2" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span></label>
		            </div>
		        </div>
		    </div>
		    <div class='col-md-4'>
		    	<div class="form-inline" style="float:right;">
		    		<input type='text' class="form-control" id="searchLog"/>
		    		<button id="btn-searchUsage" class="btn btn-default">ค้นหา</button>
		    	</div>
		    </div>
		</div>

		<div id="UsageTable"></div>
	</div>


